
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: #410101;
    background-image: linear-gradient(to right, #410101, #020004);
    background-image: -o-linear-gradient(to right, #410101, #04000b);
    display: block;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 78px;
    /*background-color: #410101;
    background-image: linear-gradient(to right, #410101, #0B0614);*/
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.7s;
}

#miDiv.abajo {
    background-color: #410101;
    background-image: linear-gradient(to right, #410101, #0B0614);
    padding: 1px;
    transition: 1.5s;
}

.navbar{
    display: flex;
    margin-right: 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.navbar a{
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    letter-spacing: 2px;
}

.logo{
    margin-left: 30px;
}

.logo a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover{
    background-color: #6f0707;
    background-image: linear-gradient(to right, #4e0624, #210328);
}

.icono{
    width: 60px;
    height: auto;
}

.MouseEncima{
    filter:grayscale(100%);
}

.MouseEncima:hover{
    filter:grayscale(0%);
}

